body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.thumbs-down-button-margin {
  margin: 0 5px 0 0;
}

.thumbs-up-button-margin {
  margin: 0 5px;
}

.dropdown-caret-margin {
  margin: 0 5px 0 0;
}

.dropdown-option {
  padding: 5px 10px;
  color: black;
}

.dropdown-option:hover {
  background-color: grey;
  cursor: pointer;
  color: white;
}

.filter-pill {
  margin: 0 3px 0 0;
}

.filter-pill:hover {
  cursor: pointer;
}

.bit-tag-pills {
  margin: 0 0 10px 0;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}